*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --primary-color: #21374b;
  --secondary-color: #e7dacb;
  --accent-color: #fa6108;
  --bg-primary-color: var(--primary-color);
  --txt-primary-color: var(--secondary-color);
  --txt-secondary-color: rgba(225,216,205,0.70196);
  /* FONTS */
  --ff-primary: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: var(--ff-primary);
  color: #e7dacb;
  color: var(--txt-primary-color);
  background-color: #21374b;
  background-color: var(--bg-primary-color);
}

header,
main,
footer {
  width: 100%;
}

h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.6rem;
  text-shadow: 0 0 5px black;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 60%;
  margin-bottom: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1.5rem;
  color: rgba(225,216,205,0.70196);
  color: var(--txt-secondary-color);
}

.repository {
  display: block;
  color: inherit;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.logos {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 2rem;
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.logos__babel {
  width: 70px;
}

.logos__postcss {
  position: relative;
  top: -12px;
  width: 120px;
}

.logos__sass {
  position: relative;
  top: -2px;
  width: 55px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box-img {
  width: 90%;
  position: relative;
  bottom: -50px;
  justify-self: end;
}

.box-img > img:nth-child(2) {
  position: absolute;
  top: 0;
}

.repository {
  display: inline-block;
  position: relative;
  width: 250px;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: #fa6108;
  background-color: var(--accent-color);
  color: #e7dacb;
  color: var(--txt-primary-color);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  width: auto;
  font-weight: 700;
  border-radius: 40%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 rgba(250, 97, 8, 0.75);
          box-shadow: 0 0 0 rgba(250, 97, 8, 0.75);
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 3rem;
    gap: 3rem;
  }

  .grid > div:first-child {
    margin: auto;
    padding-top: 2rem;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .logo {
    margin-bottom: 1.1rem;
    position: relative;
    left: 4px;
  }

  .logo,
h1,
.logos {
    margin-left: auto;
    margin-right: auto;
  }

  .logos {
    margin-bottom: 3.5rem;
  }

  .logos__babel,
.logos__postcss,
.logos__sass {
    width: 50px;
  }

  .repository {
    padding: 0.6rem 1.6rem;
    font-size: 0.8rem;
  }

  .box-img {
    width: 40%;
    bottom: auto;
    bottom: initial;
    justify-self: center;
  }
}

/*# sourceMappingURL=/styles.f4e41cb8.css.map */